node_modules/
**/node_modules/

dist/
**/dist/
.next/
**/.next/
out/
**/out/
bootstrap/

**/src/generated/
**/prisma/generated/

.git/
.gitignore

.env
.env.*
**/.env
**/.env.*

*.log
**/*.log
.DS_Store

terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars